<section class="container">
  <div class="display_questions">
    <h1>Display Questions & Answers</h1>
    	<h4>Click on question to add new answers</h2>
  	<table>
      <% @questions.each do |question| %>
		    <tr>
			    <td>
			    	<a href="/questions/<%= question.id %>">
				    	<%= question.question_text %>
				    </a>
			    </td>
			  </tr>

				<% question.answers.each do |answer| %>
					<tr>
						<td>
							<%= answer.answer_text %>
						</td>
					</tr>
				<% end %>

	    <% end %>
		</table>
  </div>
</section>

<!-- Example using list
=================== -->
<!--   <div class="display_questions">
    <h1>Display Questions & Answers</h1>
  	<ul>
      <% @questions.each do |question| %>
		   		<li>
			    	<a href="/questions/<%= question.id %>">
				    	<%= question.question_text %>
				    </a>
			    </li>

				<% question.answers.each do |answer| %>
					<li>
							<%= answer.answer_text %>
					</li>
				<% end %>

	    <% end %>
		</ul>
  </div> -->

